./abrt
./dconf
./connections.db
./evolution

dconf
evolution/sources
gh
github-copilot
gtk-3.0
ibus/bus
libreoffice/4
nwg-panel
org.gnome.Ptyxis
pulse
solaar
systemd/user
.gsd-keyboard.settings-ported
connections.db
gnome-initial-setup-done
monitors.xml
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
